* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

html,
body,
input {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

body {
  background-color: #1a1924;
  color: #e1e1e6;
}

header {
  background-color: #16151e;
}

.flex {
  display: flex;
}

.container {
  padding: 40px;
}

.items-center {
  align-items: center;
}

header h2 {
  font-size: 20px;
  line-height: 23px;
}

nav {
  justify-content: space-between;
}

nav ul {
  gap: 16px;
}

nav ul li {
  font-size: 24px;
}

form {
  margin-top: 24px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.input-wrapper {
  gap: 10px;

  background: #24243d;
  border-radius: 5px;
  padding: 16px 24px;
}

.input-wrapper input {
  background: transparent;
  border: 0;
  width: 100%;
  outline: 0;

  font-size: 12px;
  line-height: 14px;
  color: #e1e1e6;
}

.input-wrapper ion-icon {
  font-size: 16px;
}

.input-wrapper input::placeholder {
  color: #e1e1e6;
}

.input-wrapper:focus-within {
  outline: 2px white solid;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 52px;

  height: 75vh;
  overflow-y: scroll;
}

.contacts::-webkit-scrollbar {
  width: 8px;
}

.contacts::-webkit-scrollbar-thumb {
  background: #282843;
  border-radius: 999px;
}

.letter {
  background-color: var(--color);

  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  margin-right: 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.purple {
  --color: #633BBC;
}

.green {
  --color: #07847e;
}

.purple-bold {
  --color: #9A00B3;
}

.blue {
  --color: #0088B3;
}

.person {
  gap: 16px;
}

.person img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.person h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.person p {
  font-size: 12px;
  line-height: 14px;
  color: #8c8cba;

  margin-top: 4px;
}

.list-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

header nav,
header form,
.list-wrapper {
  max-width: 350px;
  width: 100%;
  margin-inline: auto;
}